.logo-container{
    z-index: 0;

    width:40%;
    height: 40%;
    max-height: 400px;
    max-width: 400px;
    position:absolute;
    top:0;
    right:15%;
    bottom:0;
    left:20%;

    margin-left: 15vw;
    margin-top: 20vh;


    
    .solid-logo{
        position:absolute;
        top:auto;
        right:auto;
        right:auto;
        bottom:auto;
        left:0;
        margin:auto;

        width:100%;
        opacity: 0;
        transform: rotateZ(20deg) !important;
        z-index: 1;



    }
    
    svg{
        width:100%;
        height:auto;
        bottom:0;
        transform: rotateZ(20deg) !important;
        
    }
}



.svg-container{
    stroke:#d613c3;

    stroke-width: 10;
}


@media screen and (max-width: 972px) {
    .logo-container{
        z-index: 0;
        width: 400px;
        height:600px;
    
        position:absolute;
        top:0;
        right:15%;
        bottom:0;
        left:20%;
        margin:auto;
    

        
        .solid-logo{
            position:absolute;
            top:auto;
            right:auto;
            right:auto;
            bottom:auto;
            left:0;
            margin:auto;
    
            width:80%;
            opacity: 0;
            transform: rotateZ(20deg) !important;
            z-index: 1;
    
    
    
        }
        
        svg{
            width:80%;
            height:auto;
            bottom:0;
            transform: rotateZ(20deg) !important;
            
        }
    }
    
    
    
    .svg-container{
        stroke:#d613c3;
    
        stroke-width: 10;
    }
    
    
  }




@media screen and (max-width: 900px) {
    .logo-container{
        z-index: 0;

        margin-left: 24vw;
        margin-top: 20vh;
        width:50%;
        height: 70%;
    
     
        .solid-logo{
            position:absolute;
            top:auto;
            right:auto;
            right:auto;
            bottom:auto;
            left:0;
            margin:auto;
    
            width:80%;
            opacity: 0;
            transform: rotateZ(20deg) !important;
            z-index: 1;
    
    
    
        }
        
        svg{
            width:80%;
            height:auto;
            bottom:0;
            transform: rotateZ(20deg) !important;
            
        }
    }
    
    
    
    .svg-container{
        stroke:#d613c3;
    
        stroke-width: 10;
    }
    
    
  }

