.about-container {
    position: absolute;

    top: 8%;
    left: 100px;
    // margin-top: 70px;
    // margin-left: 80px;
    // background-color: red;
    height: 100%;
   



    .content-container {
        margin-left: 100px;
        justify-content: left;
        align-items: center;
        display: flex;

        flex-direction: row;
        // min-width: 1000px;


    }

    .my-photo {


        max-height: 340px;
        max-width: 300px;
        height: 30%;
        width: 40%;
  

        padding: 20px;

        margin-right: 50px;


        // margin-left: 120px;



    }


    .text-zone {

        margin-left: 120px;

        text-align: left;
    }

    // .text-container {
    //     position: absolute;
    //     // left: 20%;
    //     // top: 12%;
    //     transform: translateY(-50%);

    //     width: 40%;
    //     max-height: 90%;
    //     z-index: 1;


    // }

    h1 {
        color: #ffd700;
        font-size: 37px;
        margin-left: 30%;

        font-family: 'Coolvetica';
        font-weight: 400;
    }

    .animation-container {
        // width: 50%;
        // height: 100%;
        // top: 0;
        position: absolute;
        // overflow: hidden;
        // margin-left: 90%;
        // margin-top: 10%;
        // margin-bottom: 10%;
        left: 700px;
        
        padding: 30px;
        margin-bottom: 200px;

    }
}


.paragraph-container {

    height: 100%;
    width: 80%;
    margin-left: 120px;
    margin-right: 60px;
    overflow-x: auto;
    overflow-y: scroll;

}

.paragraph {
    font-size: 140%;
    color: white;

}

.python-logo {
    height: 120px;
    width: 120px;
    // background-color: red;

}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #ffd700;
    }
}




.logo-spinner {
    animation-name: spinlogo;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 0px lightyellow;

    }

    .face1 {
        transform: translateZ(100px);

    }

    .face2 {
        transform: rotateY(90deg) translateZ(100px);

    }

    .face3 {
        transform: rotateY(180deg) translateZ(100px);


    }

    .face4 {
        transform: rotateY(-90deg) translateZ(100px);


    }



}



@media(max-width: 1091px) {


    .about-container {


        .animation-container {
            // width: 50%;
            // height: 100%;
            // top: 0;
            position: absolute;
            // overflow: hidden;
            // margin-left: 90%;
            // margin-top: 10%;
            // margin-bottom: 10%;
            left: 60%;

            padding: 30px;
            margin-bottom: 200px;
            margin-left: 10px;

        }

        .my-photo {
            margin-right: 300px;
        }
    }

}



// @media(max-width: 984px){


//     .about-container{


//         .animation-container {
//             // width: 50%;
//             // height: 100%;
//             // top: 0;
//             position: absolute;
//             // overflow: hidden;
//             // margin-left: 90%;
//             // margin-top: 10%;
//             // margin-bottom: 10%;
//            left: 50%;

//             padding: 30px;
//             margin-bottom: 200px;

//         }
//     }

// }
@media (max-width: 900px) {


    .about-container {
        position: absolute;
        top: 4%;
        left: -9%;
        right: 10%;



        // margin-top: 70px;
        // margin-left: 80px;
        // background-color: red;
        height: 100%;




        .content-container {

            justify-content: left;
            align-items: center;
            display: flex;

            flex-direction: row;
            min-width: 1000px;


        }


        


        .text-zone {
            width: 50%;
            margin-left: 190px;
            text-align: left;
        }

        .text-container {
            position: absolute;
            left: 20%;
            top: 12%;
            transform: translateY(-50%);

            width: 40%;
            max-height: 90%;
            z-index: 1;


        }

        h1 {
            color: #ffd700;
            font-size: 37px;
            margin-left: 30%;

            font-family: 'Coolvetica';
            font-weight: 400;
        }

        .animation-container {
        
            margin-left: 10px;
            top: 145px;
            padding: 30px;
            // margin-bottom: 200px;

        }

        .my-photo{
            width: 200px;
            height: 220px;
            margin-left: 40px;
        }
    }


    .logo-spinner {
        animation-name: spinlogo;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        transform-style: preserve-3d;
        transform-origin: 50px 50px 0;

        div {
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;

        }

        .face1 {
            transform: translateZ(50px);

        }

        .face2 {
            transform: rotateY(90deg) translateZ(50px);

        }

        .face3 {
            transform: rotateY(180deg) translateZ(50px);


        }

        .face4 {
            transform: rotateY(-90deg) translateZ(50px);


        }



    }


    .js-icon{
        font-size: 80px;
    }

    .node-icon{
        font-size: 70px;
    }

    .react-icon{
        font-size: 70px;
    }
    .python-logo{
        height: 90px;
        width: 90px;
    }





}


@media (max-width: 678px) {


    .about-container {
        position: absolute;
        top: 4%;
        left: -9%;
        right: 10%;



        // margin-top: 70px;
        // margin-left: 80px;
        // background-color: red;
        height: 100%;




        .content-container {

            justify-content: left;
            align-items: center;
            display: flex;

            flex-direction: row;
            min-width: 1000px;


        }


        


        .text-zone {
            width: 50%;
            margin-left: 190px;
            text-align: left;
        }

        .text-container {
            position: absolute;
            left: 20%;
            top: 12%;
            transform: translateY(-50%);

            width: 40%;
            max-height: 90%;
            z-index: 1;


        }

        h1 {
            color: #ffd700;
            font-size: 37px;
            margin-left: 30%;

            font-family: 'Coolvetica';
            font-weight: 400;
        }

        .animation-container {
        
            margin-left: 10px;
            top: 145px;
            padding: 30px;
            // margin-bottom: 200px;

        }

        .my-photo{
            width: 200px;
            height: 220px;
            margin-left: 40px;
        }
    }


    .logo-spinner {
        animation-name: spinlogo;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        transform-style: preserve-3d;
        transform-origin: 50px 50px 0;

        div {
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;

        }

        .face1 {
            transform: translateZ(50px);

        }

        .face2 {
            transform: rotateY(90deg) translateZ(50px);

        }

        .face3 {
            transform: rotateY(180deg) translateZ(50px);


        }

        .face4 {
            transform: rotateY(-90deg) translateZ(50px);


        }



    }


    .js-icon{
        font-size: 80px;
    }

    .node-icon{
        font-size: 70px;
    }

    .react-icon{
        font-size: 70px;
    }
    .python-logo{
        height: 90px;
        width: 90px;
    }





}




@media (max-width: 400px) {


    .about-container {
        position: absolute;
        top: 4%;
        left: -20%;
        right: 20%;



        // margin-top: 70px;
        // margin-left: 80px;
        // background-color: red;
        height: 100%;




        .content-container {

            justify-content: left;
            align-items: center;
            display: flex;

            flex-direction: row;
       


        }


        


        .text-zone {
            width: 50%;
            margin-left: 190px;
            text-align: left;
        }

        .text-container {
            position: absolute;
            left: 20%;
            top: 12%;
            transform: translateY(-50%);

            width: 40%;
            max-height: 90%;
            z-index: 1;


        }

        h1 {
            color: #ffd700;
            font-size: 37px;
            margin-left: 30%;

            font-family: 'Coolvetica';
            font-weight: 400;
        }

        .animation-container {
       
            position:absolute;
            top:120px;
            left: 300px;
        }

        .my-photo{
            width: 120px;
            height: 140px;
            margin-left: 40px;
        }
    }


    .logo-spinner {
        animation-name: spinlogo;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        transform-style: preserve-3d;
        transform-origin: 25px 25px 0;

        div {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;

        }

        .face1 {
            transform: translateZ(25px);

        }

        .face2 {
            transform: rotateY(90deg) translateZ(25px);

        }

        .face3 {
            transform: rotateY(180deg) translateZ(25px);


        }

        .face4 {
            transform: rotateY(-90deg) translateZ(25px);


        }



    }


    .js-icon{
        font-size: 40px;
    }

    .node-icon{
        font-size: 40px;
    }

    .react-icon{
        font-size: 40px;
    }
    .python-logo{
        height: 45px;
        width: 45px;
    }





}


@keyframes spinlogo {
    from,

    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

    }

    25% {
        transform: rotateY(90deg);


    }

    50% {
        transform: rotateY(180deg)
    }

    75% {
        transform: rotateY(270deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}