

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 180px;
    margin-top: 60px;
    height: 100vh;
    width: 90%;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.my-photo {
    max-height: 340px;
    max-width: 300px;
    height: 80%;
    width: 80%;
    margin-right: 8vw;
    border-radius: 4px;

}

.text-zone,
h1 {
    color: #ffd700;
    font-size: 37px;
    margin-left: 0px; 
    font-family: 'Coolvetica';
    font-weight: 400;
}

.animation-container {
    margin-left: 40%; 
    padding: 30px;
    margin-bottom: 200px;
}

.paragraph-container {
    min-height: 80vh;
    width: 80%;
    margin-left: 0px; 
    margin-right: 100px;
    overflow-x: auto;
    overflow-y: scroll;

}

.paragraph {
    font-size: 140%;
    color: white;
}

.python-logo {
    height: 120px;
    width: 120px;
}
.typescript-logo {
    height: 120px;
    width: 120px;
}



.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #ffd700;
    }
}


.logo-spinner {
    animation-name: spinlogo;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 0px lightyellow;

    }

    .face1 {
        transform: translateZ(100px);

    }

    .face2 {
        transform: rotateY(90deg) translateZ(100px);

    }

    .face3 {
        transform: rotateY(180deg) translateZ(100px);


    }

    .face4 {
        transform: rotateY(-90deg) translateZ(100px);
    }
    .face5 {
        transform: rotateX(90deg) translateZ(70px);
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(70px);

    }



}




@keyframes spinlogo {
    from,

    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

    }

    14% {
        transform: rotateY(90deg);
    }

    28% {
        transform: rotateY(180deg)
    }

    42% {
        transform: rotateY(270deg)
    }

    56% {
        transform: rotateY(360deg)
    }
    70% {
        transform: rotateX(-90deg)
    }
    84% {
        transform: rotateX(90deg)
    }
    100%{
        transform: rotateX(0deg)
    }
}



.vue-logo{
    width: 100px;
    height: 100px;
}
.babylon-logo{
    width: 170px;
    height: 140px;
}
@media(max-width:900px){
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
        margin-top: 60px;
        height: 100vh;
        width: 90%;
    }
}

@media (max-width: 850px) {

    .animation-container{
        margin-top: 50px;
        margin-left: 20%;
    }
    

    .logo-spinner {
        animation-name: spinlogo;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        transform-style: preserve-3d;
        transform-origin: 70px 70px 0;

        div {
            position: absolute;
            width: 140px;
            height: 140px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;

        }

        .face1 {
            transform: translateZ(70px);

        }

        .face2 {
            transform: rotateY(90deg) translateZ(70px);

        }

        .face3 {
            transform: rotateY(180deg) translateZ(70px);


        }

        .face4 {
            transform: rotateY(-90deg) translateZ(70px);


        }

    }
    .typescript-logo{
        width:100px;
        height: 100px;
    }
    .vue-logo{
        width:80px;
        height: 80px;
    }
    .babylon-logo{
      
        height: 130px;
          width:160px;
    }
}
@media (max-width: 595px) {
    .about-container{
        margin-top: 10%;
        height: auto;
    }

    .paragraph-container {
    min-height: 80vh;
    width: 80%;
    margin-left: 0px; 
    margin-right: 100px;
    overflow-x: auto;
    overflow-y: scroll;
    margin-bottom: 10rem;

}
    .my-photo{
       
  
        height: 152px;
        width: 152px;
        

    }
    .typescript-logo {
    height: 60px;
    width: 60px;
    }
    .babylon-logo{
        height: 80px;
        width: 100px;
    }
    .vue-logo{
        height: 60px;
        width: 60px;
    }

    .animation-container{
        margin-top: 80px;
        margin-left: 3%;
    }
    
    .content-container{
        margin-top: -20% ;
        margin-bottom: -10%;
    }

    .logo-spinner {
        animation-name: spinlogo;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        transform-style: preserve-3d;
        transform-origin: 50px 50px 0;

        div {
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;

        }

        .face1 {
            transform: translateZ(50px);

        }

        .face2 {
            transform: rotateY(90deg) translateZ(50px);

        }

        .face3 {
            transform: rotateY(180deg) translateZ(50px);


        }

        .face4 {
            transform: rotateY(-90deg) translateZ(50px);
        }

        .face5 {
        transform: rotateX(90deg) translateZ(50px);
        }
        .face6 {
        transform: rotateX(-90deg) translateZ(50px);
        }

        .js-icon{
            font-size: 60px;
        }
    
        .node-icon{
            font-size: 60px;
        }
    
        .react-icon{
            font-size: 60px;
        }

    
        .python-logo {
            height: 60px;
            width: 60px;
        }
        

    }
}
//    .babylon-logo {
//             height: 60px;
//             width: 60px;
//     }


@media (max-width: 450px) {
    .my-photo{
       
  
        height: 132px;
        width: 120px;
        

    }
 
    .text-zone{
        font-size: 27px;
        
    }

    .animation-container{
        margin-top: 80px;
        margin-left: -10%;
    }
    
    .content-container{
        margin-top: -20% ;
        margin-bottom: -20%;
    }

  
}