.home-page {
    margin-left: 180px;

    margin-top: 70px;
    .text-container{
        position:absolute;
        left:5%;
        top:15%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        z-index: 1;
        
    }


    .greeting-container-1{

        white-space: nowrap;
        padding: 0;
    }
    .greeting-container-2{
        white-space: nowrap;
        padding: 0;
    }
    .greeting-container-3{
        white-space: nowrap;
        padding: 0;
    }

    h1 {
        color:#fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;



   

        img {
            width: 42px;
            padding-left: 14px;
            padding-right: 2px;
            opacity:0;
            height:auto;
            animation:rotateIn 1s linear both;
            animation-delay:1s;
            margin-bottom: -2px;
       
        }
    }
    h2{

        color:#8d8d8d;
        margin-top: 20px;
        font-weight:400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing:3px;
        animation: fadeIn 1s 1.8s backwards;

    }
    .flat-button{
        color:#ffd700;
        font-size: 13px;
        font-weight:400px;
        letter-spacing:4px;
        font-family:sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float:left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 4px;


        &:hover{
            background-color: #ffd700;
            color: #333;
        }
    }
    
    .title-container{
        white-space: nowrap;
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .home-page {

        .text-container{
            position:absolute;

            top:10%;
            transform: translateY(-50%);
            width: 100%;
            max-height: 90%;
            z-index: 1;

        }

    .greeting-container{
        
        white-space: nowrap;
    }
    
        h1 {
            color:#fff;
            font-size: 43px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
    
    
    
       
    
            img {
                width: 42px;
                padding-left: 14px;
                padding-right: 2px;
                opacity:0;
                height:auto;
                animation:rotateIn 1s linear both;
                animation-delay:1s;
                margin-bottom: -2px;
           
            }
        }
        h2{
    
            color:#8d8d8d;
            margin-top: 20px;
            font-weight:400;
            font-size: 11px;
            font-family: sans-serif;
            letter-spacing:3px;
            animation: fadeIn 1s 1.8s backwards;
    
        }
        .flat-button{
            color:#ffd700;
            font-size: 13px;
            font-weight:400px;
            letter-spacing:4px;
            font-family:sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #ffd700;
            margin-top: 25px;
            float:left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
    
            &:hover{
                background-color: #ffd700;
                color: #333;
            }
        }
    }

}



@media screen and (max-width: 900px) {
    .home-page {
        margin-left:20px;
        margin-top: 100px;
    
        .text-container{
            position:absolute;
       
            transform: translateY(-50%);
            width: 20%;
            max-height: 90%;
            z-index: 1;
        }
    
        h1 {
            color:#fff;
            font-size: 33px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
            margin-bottom: 20px;
    
    
    
       
    
            img {
                width: 42px;
                padding-left: 14px;
                padding-right: 2px;
                opacity:0;
                height:auto;
                animation:rotateIn 1s linear both;
                animation-delay:1s;
                margin-bottom: -2px;
           
            }
        }
        h2{
    
            color:#8d8d8d;
            margin-top: 50px;
            font-weight:400;
            font-size: 7px;
            font-family: sans-serif;
            letter-spacing:3px;
            animation: fadeIn 1s 1.8s backwards;
    
        }
        .flat-button{
            color:#ffd700;
            font-size: 13px;
            font-weight:400px;
            letter-spacing:4px;
            font-family:sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #ffd700;
            margin-top: 25px;
            float:left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
    
            &:hover{
                background-color: #ffd700;
                color: #333;
            }
        }
    }

}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}