// .contact-page {
//     display: flex;
//     margin-left: 140px;
//     margin-top: 10px;
//     margin-right: 20px;
//     height: 90%;
// }

// .left {
//     margin-top: 20px;
//     flex: 1;
//     width: 40%;
//     height: 100%;
//     margin-left: 1%;
//     margin-right: 2%;

// }

// .right {
//     height: 100%;
//     flex: 1;
//     width: 40%;

// }

// .contact-title {
//     color: #ffd700;
//     font-size: 37px;
//     margin-left: 15%;

//     font-family: 'Coolvetica';
//     font-weight: 400;
// }

// .text{
//     width: 100%;
//     border: 0;
//     height: 50px;
//     font-size: 16px;
//     color: #fff;
//     padding: 20px;
//     box-sizing: border-box;
//     min-height: 100px;
// }

.contact-page {
    display: flex;

    margin-bottom: 2%;
    margin-left: 140px;
    margin-right: 5%;
    height: 90%;
}

.left,
.right {
    // margin-top: 2%;
    flex: 1;
    width: 48%;
    /* reduced a bit for spacing between left and right */
    height: auto;
    /* let's not constrain the height */
}

.right {
    margin-top: 10%;
    margin-left: 2%;
    /* space between left and right */
}

.contact-title {
    color: #ffd700;
    font-size: 37px;
    /* Use relative units */

    font-family: 'Coolvetica';
    font-weight: 400;
    margin-left: 30px;
    margin-top: 84px;
    white-space: nowrap;

}

.text {
    width: 100%;
    border: 0;
    height: 50px;
    font-size: 1rem;
    margin-right: 100%;
    /* Use relative units */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}


.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            border-radius: 2px;
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            animation: fadeInUp 1.5s .5s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
    }

    .flat-button {
        color: #ffd700;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;
        background: 0 0;
        text-transform: uppercase;
        float: right;
        text-align: center;
        margin-right: 10px;
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    width: 100%;
    height: 70%;

}


.popup {
    z-index: 5;
    width: 100px;
    height: 100px;
}

.leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s .5s;
    animation-fill-mode: forwards;
}

.info-container {
    // position: absolute;
    background: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 1s 1s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;

        span {
            color: #ffd700;
        }
    }
}

@media(max-width:900px) {

    .contact-page {
        margin-left: 5%;
    }

    .contact-title {
        color: #ffd700;
        font-size: 37px;
        /* Use relative units */

        font-family: 'Coolvetica';
        font-weight: 400;

        margin-top: 84px;

    }
}


@media (max-width: 698px) {

    .info-container {
        // position: absolute;
        background: #000;
        // top: 50px;
        // right: 30%;
        height: 10%;
        z-index: 999999;
        width: 75%;
        padding: 10px;
        color: #fff;
        font-family: 'Helvetica';
        font-size: 1rem;
        opacity: 0;
        animation: fadeIn 1s 1s;
        animation-fill-mode: forwards;
        white-space: nowrap;
    
        span {
            font-size: 9px;
    
            span {
                color: #ffd700;
            }
        }
    }

    .contact-form{
        width: 100%;
    }

}

@media (max-width: 450px) {

    .contact-title {
        color: #ffd700;
        font-size: 27px;
        /* Use relative units */
        margin-left: 10px;
        margin-top: 32%;



    }

    .right {
        margin-top: 20%;
    }

}